/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-background-1: #738a99;
    --clr-background-2: #b0d4ec;
    --clr-second: #303641;
    --clr-third: #6b2f23;
    --clr-forth: #384426;
    --clr-white: rgb(255, 255, 255);
    --clr-black: #000000;
    --ff-primary: "Playfair Display", sans-serif;
    --ff-secondary: "Montserrat", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --max-width: 1170px;
    --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-white);
}

a:link {
    text-decoration: none;
    color: var(--clr-third);
}

a:hover {
    text-decoration: none;
    color: var(--clr-forth);
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-white);
    color: var(--clr-black);
    line-height: 1.5;
    font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
    color: var(--clr-second);
}
h1 {
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.about-me__container {
    display: flex;
    flex-direction: column;
}

.menu__container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 8px 0 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(65, 109, 143, 0.2);
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
}

.menu__links > ul {
    display: flex;
    flex-direction: row;
    color: var(--clr-black);
    font-style: var(--ff-secondary);
    font-weight: 600;
}

.menu__links > ul > li {
    margin-right: 10px;
}

.menu__social > ul {
    display: flex;
    flex-direction: row;
}

.icons {
    width: 24px;
    margin-right: 10px;
}

.main > h5 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0 0;
    background-color: rgba(65, 109, 143, 0.2);
    padding: 15px 0;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}

.menu__social-footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0;
}

.menu__social-footer > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15px;
}

.copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

@media only screen and (max-width: 670px) {
    .menu__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 670px) {
    .menu__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
    .circle {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .circle::before {
        content: "";
        display: inline-block;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        position: absolute;
        top: -80px;
        left: -110px;
        z-index: -1;
        background: -webkit-linear-gradient(180deg, rgba(176, 212, 236, 0.8), rgba(115, 138, 153, 0.5));
        background: -moz-linear-gradient(180deg, rgba(176, 212, 236, 0.8), rgba(115, 138, 153, 0.5));
        background: linear-gradient(180deg, rgba(176, 212, 236, 0.8), rgba(115, 138, 153, 0.5));
    }

    .main {
        margin-top: 40px;
    }
}
